.button {
-fx-background-radius: 12;
-fx-border-color: black;
-fx-border-radius: 12;
-fx-background-color: rgba(126,32,146, 0.8);
-fx-background-insets: 0;
-fx-text-fill: rgba(255,255,255, 1);

}
.button .text{
-fx-font-smoothing-type: gray;

}